{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        <div class="input-group input-group-static mb-4">
            <label for="profile_mail">Mail<span class="text-danger">*</span></label>
            {{form_widget(form.mail, {'attr': {'class':'form-control', 'onfocus': 'focused(this)', 'onfocusout': 'defocused(this)'}})}}
            {{form_errors(form.mail)}}
        </div>
    </div>
    <div class="col-md-12">
        <input type="submit" value="Enregistrer" class="waves-effect waves-light btn btn-primary" style="width: 100%;" />
    </div>
</div>
{{ form_end(form) }}